<!-- <!DOCTYPE html>
<html>
<body> -->
    <div class="main">
        <div>
            <app-header ngSkipHydration></app-header>
        </div>
        
        <div class="grid">
        
            <div >
                <app-sidenavbar ngSkipHydration></app-sidenavbar>
        
            </div>
        
            <div>
                <router-outlet></router-outlet>
            </div>
            
        
        </div>
    
        <div>
            <app-footer ngSkipHydration></app-footer>
        </div>
    
    
    </div>
<!-- </body>

</html> -->